<!DOCTYPE html>
<html>
<%- include('partials/head-section') %>
<body>
<%- include('partials/header') %>
<div class="content-container">
    <%- include('partials/chat') %>
<!--    <% if (user) { %>-->
<!--        <%- include('partials/chat') %>-->
<!--    <% } else { %>-->
<!--        <%- include('partials/login') %>-->
<!--    <% } %>-->
</div>
<%- include('partials/scripts') %>
</body>
</html>
